USE [OrderIT]
GO
CREATE FULLTEXT CATALOG [Default]WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
AUTHORIZATION [dbo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[BillingAddress] [varchar](20) NULL,
	[BillingCity] [varchar](20) NULL,
	[BillingZipCode] [varchar](10) NULL,
	[BillingCountry] [varchar](20) NULL,
	[ShippingAddress] [varchar](20) NULL,
	[ShippingCity] [varchar](20) NULL,
	[ShippingZipCode] [varchar](10) NULL,
	[ShippingCountry] [varchar](20) NULL,
	[WSUserName] [varchar](20) NULL,
	[WSPassword] [varchar](20) NULL,
	[WSEnabled] [bit] NULL,
	[Type] [char](1) NOT NULL,
	[IBAN] [char](27) NULL,
	[PaymentDays] [smallint] NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company] ON
INSERT [dbo].[Company] ([CompanyId], [Name], [BillingAddress], [BillingCity], [BillingZipCode], [BillingCountry], [ShippingAddress], [ShippingCity], [ShippingZipCode], [ShippingCountry], [WSUserName], [WSPassword], [WSEnabled], [Type], [IBAN], [PaymentDays]) VALUES (1, N'Billl Clay', N'rue de rivoli', N'paris', N'00100', N'USA', N'7th Avenue', N'New York', N'98760', N'USA', N'', N'', 0, N'C', NULL, NULL)
INSERT [dbo].[Company] ([CompanyId], [Name], [BillingAddress], [BillingCity], [BillingZipCode], [BillingCountry], [ShippingAddress], [ShippingCity], [ShippingZipCode], [ShippingCountry], [WSUserName], [WSPassword], [WSEnabled], [Type], [IBAN], [PaymentDays]) VALUES (2, N'Michael Douglas', N'ba', N'bc', N'bz', N'bco', N'sa', N'sc', N'sz', N'sco', NULL, NULL, NULL, N'C', NULL, NULL)
INSERT [dbo].[Company] ([CompanyId], [Name], [BillingAddress], [BillingCity], [BillingZipCode], [BillingCountry], [ShippingAddress], [ShippingCity], [ShippingZipCode], [ShippingCountry], [WSUserName], [WSPassword], [WSEnabled], [Type], [IBAN], [PaymentDays]) VALUES (4, N'Mark Hughes', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'S', N'00000000000000000          ', 15)
SET IDENTITY_INSERT [dbo].[Company] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Entity] [varchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Operation] [char](1) NOT NULL,
	[ModifiedProperties] [varchar](max) NULL,
 CONSTRAINT [PK_Audit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Audit] ON
INSERT [dbo].[Audit] ([Id], [Entity], [Date], [Username], [Operation], [ModifiedProperties]) VALUES (1, N'OrderIT.Model.Customer', CAST(0x00009DB300F90C3E AS DateTime), N'username', N'A', NULL)
INSERT [dbo].[Audit] ([Id], [Entity], [Date], [Username], [Operation], [ModifiedProperties]) VALUES (2, N'OrderIT.Model.Customer', CAST(0x00009DB300F93E4F AS DateTime), N'username', N'A', NULL)
SET IDENTITY_INSERT [dbo].[Audit] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[GetTotalAmount]
(
  @unitprice as money,
  @quantity as int,
  @discount as money
 )
 returns money
as
begin
return (@unitprice - @discount) * @quantity
end
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeometrySample](
	[Id] [int] NOT NULL,
	[SpatialData] [geometry] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FullTextTable](
	[Id] [uniqueidentifier] NOT NULL,
	[text] [varchar](max) NOT NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_FullTextTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Description] [varchar](30) NOT NULL,
	[Brand] [varchar](15) NOT NULL,
	[Price] [money] NOT NULL,
	[AvailableItems] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([ProductId], [Name], [Description], [Brand], [Price], [AvailableItems], [ReorderLevel]) VALUES (1, N'Shoes', N'Green shoes', N'MyBrand', 100.0000, 188, 20)
INSERT [dbo].[Product] ([ProductId], [Name], [Description], [Brand], [Price], [AvailableItems], [ReorderLevel]) VALUES (2, N'Shirt', N'Shirt', N'YourBrand', 50.0000, 332, 10)
INSERT [dbo].[Product] ([ProductId], [Name], [Description], [Brand], [Price], [AvailableItems], [ReorderLevel]) VALUES (3, N'Basket shoes', N'Basket shoes', N'MyBrand', 180.0000, 343, 5)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name
-- Create date: <Create Date,,
-- Description:	<Description,,
-- =============================================
CREATE PROCEDURE [dbo].[UpdateCustomer]
	@CompanyId int,
	@Name varchar(30),
	@BillingAddress varchar(20),
	@BillingCity varchar(20),
	@BillingZipCode varchar(10),
	@BillingCountry varchar(20),
	@ShippingAddress varchar(20),
	@ShippingCity varchar(20),
	@ShippingZipCode varchar(10),
	@ShippingCountry varchar(20),
	@WSUserName varchar(20),
	@WSPassword varchar(20),
	@WSEnabled bit
as
BEGIN

UPDATE Company
set
Name = @Name,
BillingAddress = @BillingAddress,
BillingCity = @BillingCity,
BillingZipCode = @BillingZipCode,
BillingCountry = @BillingCountry,
ShippingAddress =@ShippingAddress,
ShippingCity = @ShippingCity,
ShippingZipCode = @ShippingZipCode,
ShippingCountry = @ShippingCountry,
WSUserName = @WSUserName,
WSPassword = @WSPassword,
WSEnabled = @WSEnabled
where
CompanyId = @CompanyId
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name
-- Create date: <Create Date,,
-- Description:	<Description,,
-- =============================================
CREATE PROCEDURE [dbo].[UpdateSupplier]
	@CompanyId int,
	@Name varchar(30),
	@IBAN char(16),
	@PaymentDays smallint,
	@Version rowversion
as
BEGIN

UPDATE Company
set Name = @Name, iban = @iban, paymentdays = @PaymentDays
where CompanyId = @CompanyId and Version =  @Version
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ShippingAddress] [varchar](20) NOT NULL,
	[ShippingCity] [varchar](20) NOT NULL,
	[ShippingZipCode] [varchar](10) NOT NULL,
	[ShippingCountry] [varchar](20) NOT NULL,
	[EstimatedShippingDate] [datetime] NULL,
	[ActualShippingDate] [datetime] NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([OrderId], [OrderDate], [CustomerId], [ShippingAddress], [ShippingCity], [ShippingZipCode], [ShippingCountry], [EstimatedShippingDate], [ActualShippingDate]) VALUES (11, CAST(0xBC300B00 AS Date), 1, N'7th Avenue', N'Washington', N'98765', N'USA', NULL, CAST(0x00009D7C00F3CBB8 AS DateTime))
INSERT [dbo].[Order] ([OrderId], [OrderDate], [CustomerId], [ShippingAddress], [ShippingCity], [ShippingZipCode], [ShippingCountry], [EstimatedShippingDate], [ActualShippingDate]) VALUES (12, CAST(0xBC300B00 AS Date), 2, N'7th Avenue', N'Seattle', N'98765', N'USA', NULL, NULL)
INSERT [dbo].[Order] ([OrderId], [OrderDate], [CustomerId], [ShippingAddress], [ShippingCity], [ShippingZipCode], [ShippingCountry], [EstimatedShippingDate], [ActualShippingDate]) VALUES (13, CAST(0xBC300B00 AS Date), 1, N'7th Avenue', N'Seattle', N'24332', N'USA', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name
-- Create date: <Create Date,,
-- Description:	<Description,,
-- =============================================
CREATE PROCEDURE [dbo].[InsertSupplier]
	@Name varchar(30),
	@IBAN char(27),
	@PaymentDays int
	
as
BEGIN

INSERT INTO Company (
			Name, 
			Type, 
			IBAN, 
			PaymentDays)
     VALUES(
           @Name,
           'S',
           @IBAN,
           @PaymentDays)

END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shoe](
	[ProductId] [int] NOT NULL,
	[Color] [varchar](10) NOT NULL,
	[Size] [varchar](5) NOT NULL,
	[Gender] [char](2) NOT NULL,
	[Sport] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Shoes] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Shoe] ([ProductId], [Color], [Size], [Gender], [Sport]) VALUES (1, N'Green', N'38', N'M ', N'None')
INSERT [dbo].[Shoe] ([ProductId], [Color], [Size], [Gender], [Sport]) VALUES (3, N'Red', N'38', N'M ', N'Basket')
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shirt](
	[ProductId] [int] NOT NULL,
	[SleeveType] [int] NOT NULL,
	[Color] [varchar](10) NOT NULL,
	[Size] [varchar](4) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Material] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Shirt] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Shirt] ([ProductId], [SleeveType], [Color], [Size], [Gender], [Material]) VALUES (2, 1, N'Red', N'1.0', N'M', N'Cotton')
INSERT [dbo].[Shirt] ([ProductId], [SleeveType], [Color], [Size], [Gender], [Material]) VALUES (4, 2, N'Blue', N'M', N'M', N'Cotton')
INSERT [dbo].[Shirt] ([ProductId], [SleeveType], [Color], [Size], [Gender], [Material]) VALUES (5, 2, N'Blue', N'M', N'M', N'Cotton')
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[SearchFullText]
(	
	@text as varchar(50)
)
RETURNS TABLE 
AS
RETURN 
(
	select [text] from FullTextTable where contains([text], @text)
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name
-- Create date: <Create Date,,
-- Description:	<Description,,
-- =============================================
CREATE PROCEDURE [dbo].[InsertCustomer]
	@Name varchar(30),
	@BillingAddress varchar(20),
	@BillingCity varchar(20),
	@BillingZipCode varchar(10),
	@BillingCountry varchar(20),
	@ShippingAddress varchar(20),
	@ShippingCity varchar(20),
	@ShippingZipCode varchar(10),
	@ShippingCountry varchar(20),
	@WSUserName varchar(20),
	@WSPassword varchar(20),
	@WSEnabled bit
as
BEGIN

INSERT INTO Company(
			Name, 
			BillingAddress, 
			BillingCity, 
			BillingZipCode, 
			BillingCountry, 
			ShippingAddress, 
			ShippingCity, 
			ShippingZipCode, 
			ShippingCountry, 
			WSUserName, 
			WSPassword, 
			WSEnabled, 
			Type)
     VALUES(
           @Name,
           @BillingAddress,
           @BillingCity,
           @BillingZipCode,
           @BillingCountry,
           @ShippingAddress,
           @ShippingCity,
           @ShippingZipCode,
           @ShippingCountry,
           @WSUserName,
           @WSPassword,
           @WSEnabled,
           'C')

END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertAudit]
	@Entity varchar(50),
	@Date datetime,
	@Username varchar(50),
	@Operation char(1),
	@ModifiedProperties varchar(max)
AS
BEGIN
INSERT INTO [OrderIT].[dbo].[Audit]
           ([Entity]
           ,[Date]
           ,[Username]
           ,[Operation]
           ,[ModifiedProperties])
     VALUES
           (@Entity,
           @Date,
           @Username,
           @Operation,
           @ModifiedProperties)
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSupplier](
	[ProductId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
 CONSTRAINT [PK_ProductSupplier] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[SupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSupplier]
	@CompanyId int
as
BEGIN

DELETE FROM Company where CompanyId = @CompanyId
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetCustomers]
as
select c.BillingAddress, c.BillingCity, c.BillingCountry, c.BillingZipCode, c.CompanyId, c.Name, c.ShippingAddress, c.ShippingCity, c.ShippingCountry, c.ShippingZipCode, c.WSEnabled, c.WSPassword, c.WSUserName
from Company c
where Type = 'C'
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCompanies] 
AS
BEGIN
	SELECT * from Company
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name
-- Create date: <Create Date,,
-- Description:	<Description,,
-- =============================================
CREATE PROCEDURE [dbo].[DeleteCustomer]
	@CompanyId int
as
BEGIN

DELETE FROM Company where CompanyId = @CompanyId
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[DeleteOrder]
@OrderId int
as
DELETE FROM [Order]
 WHERE OrderId = @orderId
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrdersWithComplexProperties]
AS
BEGIN
	SELECT OrderId, OrderDate, CustomerId, ShippingAddress as [ShippingAddress.Address], ShippingCity [ShippingAddress.City], ShippingZipCode [ShippingAddress.ZipCode], ShippingCountry [ShippingAddress.Country], EstimatedShippingDate, ActualShippingDate, Version
	from [Order] 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetOrders]
()
RETURNS TABLE 
AS
RETURN 
(
select * from [order]
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProducts]
AS
BEGIN
	SELECT p.*, isnull(sho.Color, shi.color) Color, isnull(sho.Size, shi.Size) Size, isnull(sho.Gender, shi.gender) Gender, sho.Sport, shi.SleeveType, shi.Material, 
	case isnull(sho.gender, '0') when '0' then 'SHIRT' else 'SHOES' end as type
	from Product p
	LEFT join Shoes sho on (p.ProductId = sho.ProductId)
	LEFT join Shirt shi on (p.ProductId = shi.ProductId)
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Discount] [money] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [UnitPrice], [Discount]) VALUES (22, 11, 1, 5, 1.0000, 0.0000)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [UnitPrice], [Discount]) VALUES (23, 11, 2, 5, 50.0000, 0.0000)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [UnitPrice], [Discount]) VALUES (24, 12, 3, 2, 50.0000, 0.0000)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertOrder]
@OrderDate datetime
,@CustomerId int
,@ShippingAddress varchar(50)
,@ShippingCity varchar(50)
,@ShippingZipCode varchar(15)
,@ShippingCountry varchar(50)
,@EstimatedShippingDate datetime
,@ActualShippingDate datetime
as
INSERT INTO [Order]
           (OrderDate
           ,CustomerId
           ,ShippingAddress
           ,ShippingCity
           ,ShippingZipCode
           ,ShippingCountry
           ,EstimatedShippingDate
           ,ActualShippingDate)
     VALUES
           (@OrderDate
           ,@CustomerId
           ,@ShippingAddress
           ,@ShippingCity
           ,@ShippingZipCode
           ,@ShippingCountry
           ,@EstimatedShippingDate
           ,@ActualShippingDate)

SELECT SCOPE_IDENTITY() AS OrderId
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateOrder]
@OrderDate datetime
,@CustomerId int
,@ShippingAddress varchar(50)
,@ShippingCity varchar(50)
,@ShippingZipCode varchar(15)
,@ShippingCountry varchar(50)
,@EstimatedShippingDate datetime
,@ActualShippingDate datetime
,@OrderId int
,@Version rowversion
as
UPDATE [Order]
   SET [OrderDate] = @OrderDate
      ,[CustomerId] = @CustomerId
      ,[ShippingAddress] = @ShippingAddress
      ,[ShippingCity] = @ShippingCity
      ,[ShippingZipCode] = @ShippingZipCode
      ,[ShippingCountry] = @ShippingCountry
      ,[EstimatedShippingDate] = @EstimatedShippingDate
      ,[ActualShippingDate] = @ActualShippingDate
 WHERE OrderId = @orderId and Version = @Version
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateOrderDetail]
@OrderId int,
@ProductId int,
@Quantity int,
@UnitPrice money,
@Discount money,
@DetailId int
as
update product set AvailableItems = AvailableItems + (select quantity from OrderDetail where OrderDetailId = @detailid) where ProductId = @ProductId

UPDATE OrderDetail
   SET OrderId = @OrderId
      ,ProductId = @ProductId
      ,Quantity = @Quantity
      ,UnitPrice = @UnitPrice
      ,Discount = @Discount
 WHERE OrderDetailId = @DetailId

update product set AvailableItems = AvailableItems - @Quantity where ProductId = @ProductId
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TopOrder]
AS
SELECT     TOP (100) PERCENT c.Name, o.OrderId, o.OrderDate, SUM(od.UnitPrice * (od.Quantity - od.Discount)) AS total
FROM         dbo.[Order] AS o INNER JOIN
                      dbo.Company AS c ON o.CustomerId = c.CompanyId INNER JOIN
                      dbo.OrderDetail AS od ON od.OrderId = o.OrderId
GROUP BY c.Name, o.OrderId, o.OrderDate
ORDER BY total DESC
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "o"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 123
               Right = 253
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 6
               Left = 291
               Bottom = 123
               Right = 475
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "od"
            Begin Extent = 
               Top = 6
               Left = 513
               Bottom = 123
               Right = 689
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TopOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TopOrder'
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SalesByCustomer]
AS
SELECT     TOP (100) PERCENT c.Name, SUM(d.Quantity * (d.UnitPrice - d.Discount)) AS total
FROM         dbo.[Order] AS o INNER JOIN
                      dbo.Company AS c ON c.CompanyId = o.CustomerId INNER JOIN
                      dbo.OrderDetail AS d ON o.OrderId = d.OrderId
GROUP BY c.Name
ORDER BY total DESC
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "d"
            Begin Extent = 
               Top = 184
               Left = 106
               Bottom = 301
               Right = 282
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 35
               Left = 524
               Bottom = 152
               Right = 708
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "o"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 123
               Right = 253
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SalesByCustomer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SalesByCustomer'
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTotalOrdersAmount]
AS
BEGIN
	SELECT sum(Quantity * (UnitPrice - Discount)) from orderdetail o
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertOrderDetail]
@OrderId int,
@ProductId int,
@Quantity int,
@UnitPrice money,
@Discount money
as
INSERT INTO OrderDetail
           (OrderId
           ,ProductId
           ,Quantity
           ,UnitPrice
           ,Discount)
     VALUES
           (@OrderId
           ,@ProductId
           ,@Quantity
           ,@UnitPrice
           ,@Discount)

update product set AvailableItems = AvailableItems - @quantity where ProductId =@ProductId
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTopOrders]
AS
BEGIN
	SELECT top 10 c.Name, o.OrderId, o.OrderDate, SUM(od.UnitPrice * (Quantity - Discount)) as total
	from [order] o
	join company c on o.CustomerId = c.CompanyId
	join orderdetail od on od.OrderId = o.OrderId
	group by c.Name, o.OrderId, o.OrderDate
	order by total desc
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPagedOrderDetails]
	@pageIndex int,
	@rowsPerPage int,
	@count int output
AS
BEGIN
	WITH PageRows
	AS (

	SELECT TOP(@pageIndex * @rowsPerPage)
	RowNumber = ROW_NUMBER() OVER (ORDER BY orderdetailid),
	*
	FROM orderdetail

	)

	SELECT *
	FROM PageRows
	WHERE RowNumber > ((@pageIndex - 1) * @rowsPerPage);
	
	select @count = COUNT(*)  from orderdetail
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetOrderDetails]
  @orderid as int = 0
as
select orderDetailId, Quantity as q, UnitPrice, Discount, orderid, ProductId from orderdetail
where orderid = @orderid
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomersForTest] 
  @name as varchar(1)
AS
BEGIN
	SELECT * from OrderDetail 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[DeleteOrderDetail]
@DetailId int

as

DELETE FROM OrderDetail WHERE OrderDetailId = @DetailId
GO
ALTER TABLE [dbo].[FullTextTable] ADD  CONSTRAINT [DF_FulTextTable_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_AvailableItems]  DEFAULT ((0)) FOR [AvailableItems]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Company] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Company] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Company]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[ProductSupplier]  WITH CHECK ADD  CONSTRAINT [FK_ProductSupplier_Company] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Company] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSupplier] CHECK CONSTRAINT [FK_ProductSupplier_Company]
GO
ALTER TABLE [dbo].[ProductSupplier]  WITH CHECK ADD  CONSTRAINT [FK_ProductSupplier_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[ProductSupplier] CHECK CONSTRAINT [FK_ProductSupplier_Product]
GO
ALTER TABLE [dbo].[Shirt]  WITH CHECK ADD  CONSTRAINT [FK_Shirt_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Shirt] CHECK CONSTRAINT [FK_Shirt_Product]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoes_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoes_Product]
GO
