<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OrderITEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=OrderIT;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="OrderITEntitiesNofk" connectionString="metadata=res://*/Modelnofk.csdl|res://*/Modelnofk.ssdl|res://*/Modelnofk.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=OrderIT;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="OrderITEntities2" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=OrderIT2;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="OrderITEntitiesDB" connectionString="Data Source=(local);Initial Catalog=OrderIT;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="OrderITEntitiesApp" connectionString="metadata=res://*/Model.csdl|{0}|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=OrderIT;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>